<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="login text-center">
                <h1 class="custom-h2">Ding Dong Alarm</h1>
                <img src="../../assets/images/logo.svg" alt="Logo de la Aplicación" class="mb-3 img-fluid custom-img-login mt-3">
                <a class="btn btn-primary mb-3" style="background: transparent; border: none;" (click)="continueWithGoogle()">
                    <img src="../../assets/images/Continue with Google.svg" alt="Botón 1" class="img-fluid custom-img mt-5">
                </a>
                <button type="button" class="btn btn-primary mb-3" style="background: transparent; border: none;">
                    <img src="../../assets/images/Continue with Facebook.svg" alt="Botón 2" class="img-fluid custom-img">
                </button>
                <button type="button" class="btn btn-primary" style="background: transparent; border: none;">
                    <img src="../../assets/images/Continue with Apple.svg" alt="Botón 3" class="img-fluid custom-img">
                </button>
            </div>
        </div>
    </div>
</div>