<fieldset>
  <legend class="float-none w-auto">Listados</legend>
  <div class="row align-items-start">
    <label for="exampleInputEmail1">Tipo Alarma:</label>
    <div class="form-group col">
      <mat-form-field>
        <mat-select name="food">
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{ food.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col">
      <button type="submit" class="dda-button">Filtrar</button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th mat-sort-header="Tipo Alarma">Tipo Alarma</th>
        <th mat-sort-header="Descripción">Nombre</th>
        <th mat-sort-header="Descripción">Acciones</th>
        <th mat-sort-header="Visible en la app">Hora Alarma</th>
        <th mat-sort-header="Visible en la app">Días</th>
        <th mat-sort-header="Operación">Operación</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dessert of sortedData">
        <td>{{ dessert.name }}</td>
        <td>{{ dessert.calories }}</td>
        <td>{{ dessert.fat }}</td>
        <td></td>
        <td></td>
        <td>
          <i class="bi bi-pencil"></i>
          <i class="bi bi-trash"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator
    [length]="200"
    [pageSizeOptions]="[10, 50, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</fieldset>
